body {
    background-color: rgb(35, 35, 35);
    font-family: sans-serif;
    display: grid;
    padding: 2rem;
    row-gap: 1rem;
}

.subtitle,
.description,
.author {
    color: rgb(199, 199, 199);
    text-align: center;
}

h1 {
    color: white;
    text-transform: capitalize;
}

h2 {
    color: rgb(216, 216, 216);
    text-transform: capitalize;
    text-align: center;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.books-container > div {
    background-color: rgb(32, 32, 32);
    border: 2px solid grey;
    border-radius: 20px;
}

.details {
    display: flex;
    gap: .3rem;
    margin: .5rem;
    color: rgb(199, 199, 199);
    justify-content: center;
}

.author {
    font-weight: bold;
}

.interaction-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.interaction-container button {
    border: 2px solid rgb(77, 77, 77);
    color: rgb(210, 210, 210);
    padding: .3rem;
    border-radius: 10px;
    background-color: rgb(45, 45, 45);
}

header {
    display: flex;
    align-items: end;
}

#new-book-button {
    margin-left: auto;
    margin-bottom: 1rem;
}